.manrope{
    font-family: 'Manrope', sans-serif;

}
.cart{
    border-radius: 10px;
background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.cart h3{
    font-weight: 800;
    font-size: 24px;
    color: black;
}

.contain div{
   display: flex;
   justify-content: center;
    border-radius: 10px;
    
   
    padding: 30px 20px;
}

.contain div img{
    height: 300px;
}

.hei{
    border-radius: 10px;
opacity: 0.10000000149011612;
background: var(--linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));
}
.hei{
    border-radius: 10px;
  
   background-color: #b3500e;
}
.meet-our-client{
     border-radius: 10px;
    background: var(--linear, linear-gradient(270deg, #F00 0%, #FF8938 100%));;
}